<%= form_for(@plate, :html_options => {:class => "form-horizontal"}) do |f| %>
  <% if @plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plate.errors.count, "error") %> prohibited this plate from being saved:</h2>

      <ul>
      <% @plate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset>
      <legend>
        Plate Information
      </legend>
      <div class="control-group">
        <label class="control-label">
          Plate State
        </label>
        <div class="controls">
          <%- us = Carmen::Country.named("United States") %>
          <%= f.select :state, us.subregions.collect {|sr| [sr.name, sr.code]} %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Plate Number
        </label>
        <div class="controls">
          <%= f.text_field :number %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Phone Number
        </label>
        <div class="controls">
          <%= f.text_field :phone, :placeholder => "14158575309" %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">
            Submit
          </button>
        </div>
      </div>
    </fieldset>
<% end %>
