<div class="container">
  <div class="row">
    <div class="span12">
      <p id="notice"><%= notice %></p>
      <p><%= @plate.state %> <%= @plate.number %></p>

      <% if @plate.raw_tickets.any? %>
      <h3>Current Tickets</h3>
        <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Number</th>
            <th>Code</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
        <% @plate.raw_tickets.each do |ticket| %>
          <tr>
          <td><%= ticket[:date].to_s("%Y-%m-%d %H:%M")%></td>
          <td><%= ticket[:number]%></td>
          <td>
            <a target="_blank" href="http://www.dmv.ca.gov/portal/home/dmvsearch.htm?lang=en&q=<%=ticket[:code]%>&Submit=Search&cx=001779225245372747843:m1bk7pxvsoc&cof=FORID%3A9%3BNB%3A1">
              <%= ticket[:code]%>
            </a>
          </td>
          <td><%= ticket[:violation]%></td>
          <td><%= ticket[:amount]%></td>
        </tr>
      <% end %>
        </tbody>
      </table>

      <form action="<%=Plate::RAW_ENDPOINT%>" method="post" target="_blank">
        <%- @plate.params_for_raw.each do |key, val| %>
          <input type="hidden" name="<%= key %>" value="<%= val %>"/>
        <% end %>
        <input type="submit" value="Pay Online">
      </form>
    </div>
  </div>
<% else %>
    <p>No tickets yet :)</p>
<% end %>

</div>

<% content_for :footer do %>
<script type='text/javascript'>
  mixpanel.track("<%= flash[:mp_just_created] ? 'created' : 'viewed' %> plate", {
    "tickets": <%= @plate.raw_tickets.count %>,
    "plate number": "<%= @plate.number %>",
    "plate state": "<%= @plate.state %>"
  });
</script>
<% end %>